 * {
      margin: 0;
      padding: 0;
      /* font-family: 'Poppins', sans-serif; */
      font-family: 'Chakra Petch', sans-serif;
    }

    html,
    body {
      display: grid;
      height: 100%;
      place-items: center;
      background: #000;
    }

    .datetime {
      height: 180px;
      width: 380px;
      position: relative;
      background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
      border-radius: 10px;
      cursor: default;
      animation: animate 1.5s linear infinite;
    }

    .datetime .display,
    .datetime #help {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .datetime .display {
      z-index: 999;
      height: 160px;
      width: 360px;
      background: #1b1b1b;
      border-radius: 6px;
      text-align: center;
      line-height: 70px;
    }

    .display .time {
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 1px;
      background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate 1.5s linear infinite;
    }

    .display .date {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 1px;
      background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate 1.5s linear infinite;
    }

    @keyframes animate {
      100% {
        filter: hue-rotate(360deg);
      }
    }

    .datetime #help {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: inherit;
    }

    .datetime #help:first-child {
      filter: blur(7px);
    }

    .datetime #help:last-child {
      filter: blur(20px);
    }
