body{
    text-align:center;
    font-family:sans-serif;
    background-image:linear-gradient(pink  ,violet , purple );
    color:white;
    
  }
  #title{
    font-size:45px;
    color:black;
  }
  #description{
    font-size:20px;
    color:purple;
  }
  
  
  #body{
    width:600px;
    padding:30px;
    margin:auto;
    border-radius:10px;
    text-align:left;
    background-color:rgba(0,0,0,0.6);
    font-size:20px;
    color:white;
    
  }
  
  #name{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #email{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #number{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #dropdown{
    width:560px;
    padding:15px;
    border-radius:10px;
  }
  #comment{
    width:590px;
    padding:10px;
    border-radius:10px;
    border:none;
    
  }
  #submit{
    width:590px;
    padding:20px;
    font-size:20px;
    border-radius:10px;
    border:none;
    margin-top:3%;
    color:black;
    background-color:pink;
    
  }
  
  