@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

* {
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', Ubuntu, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    background-color: ivory;
}
h1 {
    position: absolute;
    top: 0;
    font-size: 20px;
    cursor: url('./favicon.ico'),auto;
    color: rgba(165, 25, 95, 0.733);
}
.container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 0.6rem;
    position: relative; 
    transition: flex 0.7s ease-in;
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    margin: 0%;
    opacity: 0;
} 
.panel.active {
    flex: 5;
    border-radius: 80px;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.6s;
}

@media(max-width:480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}