body {
    margin: 0 auto;
    font-family: Helvetica;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.main-nav {
    /* creates a */
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

a:hover {
    color: #686de0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}


.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}


.container {
    /* vh = view height. We do this to make sure banner fills entire view */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width:100%;
    height:100%;
}
.coverText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.coverText > h1 {
    color: white;
    font-size: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
}


.card {
    background-color: #444;
    margin: 50px;
}



.card > img {
    max-width: 100%;
    height: auto;
}

.card h1 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card > .text {
    padding: 0 20px 20px;
}


button {
    cursor: pointer;
    background: gray;
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: #686de0;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #30336b;
}

footer p {
    font-size: 1rem;
}

.blue {
    background: #2d3436;
}

