/* CSS RESET  */

*{
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

#logo{
    margin: 10px 20px;
}
/* 
#logo img{
    margin: 10px 10px;
} */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}


#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 560px;
}

#home::before{
    content: "";
    background:url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 642px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 8px 20px;
    font-size: 20px;
    background-color: brown;
    margin: 13px;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.center{
    text-align: center;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    margin: 15px;
    padding: 30px 40px;
    border-radius: 23px;
    background-color: #f3e0e3;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;

}

#client-section{
height: 344px;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients img{
    height: 124px;
}

#client-item{
    padding: 34px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.4;
}

#contact{
    position: relative;
    z-index:-1;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg) no-repeat center center/cover;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    margin-left: 7px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    font-size: 1.1rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    margin: 5px;
    padding: 0.3rem;
    border-radius: 9px;
}
